.submit-button {
  width: 140px;
  padding: 7px;
  font-size: 1.2em;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
}

.submit-button:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: white;
  border-color: #fff;
}
